body { 
    margin: 0; 
    

}
.container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    z-index: 100;
}
section {
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    // text-align: right;
    z-index: 100;

}

.myName{
	top: 10px;
	width: 100%;
	// text-align: right;
    // color: #17141d;
    color: white;
    display:block;
    padding: 10vw;;

    h1{
        font-size: 40px;

    }
   

}