body { 
    margin: 0; 
    overflow-x: hidden;
    font-family: 'Dosis', sans-serif;
    

}
.container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    z-index: 100;
}
section {
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    // text-align: right;
    z-index: 100;

}

.myName{
	top: 10px;
	width: 100%;
	// text-align: right;
    // color: #17141d;
    color: white;
    display:block;
    padding: 10vw;;

    h1{
        font-size: 60px;

    }
   

}

.timeline{
    color: rgb(211, 211, 211);
    position: fixed;
    bottom: 50vh;
    left: 4%;
    top: 35%;
    // padding: 30px;
  
  
    .spanTimeline {
          p{
         text-align: center;
        letter-spacing: 10px;
         padding: 10px;
         border-right: 2px solid #17141d;
         border-left: 2px solid #3c354b;
        }
    }
}
// .timeline::after {
//     content: '';
//     position: absolute;
//     width: .8px;
//     background-color: #fafafa;
//     top: 0;
//     bottom: 0;
//     left: 5vw;
//     // margin-left: -3px;
//   }
  