body { 
    margin: 0; 
    overflow: hidden;
    font-family: 'Dosis', sans-serif;
    background-color: black;
    

}
.container{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    z-index: 100;
}
section {
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    // text-align: right;
    z-index: 100;

}
.section{
    background-color: black;
    color: #fafafa;
}

.myName{
	top: 10px;
	width: 100%;
    // color: #17141d;
    color: white;
    display:block;
    padding: 10vw;;

    h1{
        font-size: 60px;

    }
   

}

.timeline{
    color: rgb(211, 211, 211);
    position: fixed;
    bottom: 50vh;
    left: 4%;
    top: 25vh;
    // padding: 30px;
  
  
    .spanTimeline {
          p{
         text-align: center;
        letter-spacing: 10px;
         padding: 10px;
         border-right: 2px solid #17141d;
         border-left: 2px solid #3c354b;
       
        }
    }
    li{
        list-style:circle;
        text-align: left;
        list-style-position: outside;
        letter-spacing: 5px;
        display: none;

    }
}

@media only screen and (max-width: 600px){
    .timeline{
        color: rgb(211, 211, 211);
        position: fixed;
        bottom: 50vh;
        left: 0;
        top: 3%;
        // padding: 30px;
      
      
        .spanTimeline {
              p{
            float: left;
            width: 20vw;
            font-size: 10px;
             text-align: center;
            letter-spacing: 4px;
            justify-content: center;
             padding: 5px;
             margin: 0;
             border-right: 2px solid #17141d;
             border-left: 2px solid #3c354b;
            }
        }
    }
    
}