body {
    margin: 0;
    font-family: 'Dosis';
    color:#fafafa;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
    font-style: normal;
  
  

  }
 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {}

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {} 
  #canvas{
    width: 100vw;
    height: 100vh;
  }

  /* TRIGGERS - THE SIDE NAV BUTTONS */
  .triggers {
    color: white;
    text-align: center;
    width: 100%;
    z-index: 10;
    position: fixed;
    left: 4%;
    top: 35vh;
  }
  .triggers span {
    cursor: pointer;
    display: flex;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    transition: opacity .5s, color .5s;
    text-align: center;
    letter-spacing: 10px;
     padding: 10px;
     border-left: 2px solid #3c354b;

  }
  .triggers span[data-disabled="true"] {
    opacity: 0.3;
    pointer-events: none;
    color: white;
  }
  .triggers span:hover {
    color: yellow;
  }
 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
  .triggers {
    color: white;
    text-align: center;
    width: 100%;
    z-index: 10;
    position: fixed;
    left: 1%;
    top: 3vh;
    /* background: red; */
  }
  .triggers span {
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    margin: 5px;
    padding: 5px;
    transition: opacity .5s, color .5s;
    text-align: left;
    letter-spacing: 1px;
     padding: 10px;
     border-left: 2px solid #3c354b;

  }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  .triggers {
    color: white;
    text-align: center;
    width: 100%;
    z-index: 10;
    position: fixed;
    left: 4%;
    top: 35vh;
  }
  .triggers span {
    cursor: pointer;
    display: flex;
    font-size: 15px;
    margin: 10px;
    padding: 10px;
    transition: opacity .5s, color .5s;
    text-align: center;
    letter-spacing: 6px;
     padding: 10px;
     border-left: 2px solid #3c354b;

  }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
  .triggers {
    color: white;
    text-align: center;
    width: 100%;
    z-index: 10;
    position: fixed;
    left: 4%;
    top: 35vh;
  }
  .triggers span {
    cursor: pointer;
    display: flex;
    font-size: 17px;
    margin: 10px;
    padding: 10px;
    transition: opacity .5s, color .5s;
    text-align: center;
    letter-spacing: 6px;
     padding: 10px;
     border-left: 2px solid #3c354b;

  }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
  .triggers {
    color: white;
    text-align: center;
    width: 100%;
    z-index: 10;
    position: fixed;
    left: 4%;
    top: 35vh;
  }
  .triggers span {
    cursor: pointer;
    display: flex;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    transition: opacity .5s, color .5s;
    text-align: center;
    letter-spacing: 6px;
     padding: 10px;
     border-left: 2px solid #3c354b;

  }
 } 
/* hiding on load */
  #about{ display: none}
  #projects{ display: none}
  #contacts{ display: none}

  .sections{
  color: white;
  text-align: center;
  left: 50%;
  top: 50%;
  z-index: 10;
  position: absolute;
  transform: translate(-50%, -50%);
}

 /* Extra small devices (phones, 600px and down) */


.sections #home  h1{
    display: flex;
    font-size: 60px;
    margin: 10px;
    padding: 10px;
    transition: opacity .5s, color .5s;
    text-align: right;
}

/* ABOUT MEDIA QUERIES */
 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
  .sections #about h1{
    /* background-color: red; */
    text-align: left;
    font-size: 20px;

    
  }
  .sections #about  h3 {
    
    color: white;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    margin: 10px;
    padding: 10px;
    transition: opacity .5s, color .5s;
    text-align: Left;
    width: 40vh;

    
  }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
  .sections #about h1{
    /* background-color: red; */
    text-align: left;
    font-size: 20px;

    
  }
  .sections #about  h3 {
    color: white;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    margin: 10px;
    padding: 10px;
    transition: opacity .5s, color .5s;
    text-align: Left;
    
  }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
  .sections #about h1{
    /* background-color: red; */
    text-align: left;
    font-size: 20px;
    
  }
  .sections #about  h3 {
    color: white;
    font-size: 17px;
    cursor: pointer;
    display: flex;
    margin: 10px;
    padding: 10px;
    transition: opacity .5s, color .5s;
    text-align: Left;
    
  }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
  .sections #about h1{
    /* background-color: red; */
    text-align: left;
    
  }
  .sections #about  h3 {
    color: white;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    margin: 10px;
    padding: 10px;
    transition: opacity .5s, color .5s;
    text-align: Left;
    
  }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) { 
.sections #about h1{
  /* background-color: red; */
  text-align: left;
  
}
.sections #about  h3 {
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  margin: 10px;
  padding: 10px;
  transition: opacity .5s, color .5s;
  text-align: Left;
  
}
 }
.sections #projects{
  width: 20vw;
  height: 60%;

}
.sections #projects h1{
 
  box-shadow: -1rem 0 3rem #000;
  background-color: rgba(0, 0, 0, 0.198);
  font-size:30px;
  border-radius: 20px;
  
}
.sections #contacts{
  color: white;
  width: 70vh;
  
  
}

/* h6{

  color:#696969;
}
 h5{
  color: #A9A9A9;
} */
.icon-bar {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: #fafafa;
  font-size: 25px;
  border-radius:50%;
}

.icon-bar a:hover {
  background-color: grey;
}
form{
  display: inline-flex;
  flex-direction: column;

}
input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form .message{
  height: 10vh;

}

/* preload */
/* Center the loader */





#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1000;
  width: 350px;
  height: 350px;


}



/* Add animation to "page content" */
.animate-bottom {
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #304352;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

#myDiv {
  display: none;
}